# Byte-compiled / optimized / ambient files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Artifacts & Local caches
*.log
.coverage
htmlcov/
.DS_Store
*.egg-info/
dist/
build/

# Temporary Large Data
*.tmp
*.bin
